@import "tailwindcss";

@theme {
    /* Brand Green #21A843 */
    --color-primary-50: #eefbf3;
    --color-primary-100: #d6f6e0;
    --color-primary-200: #b0ecc4;
    --color-primary-300: #7cdca0;
    --color-primary-400: #46c676;
    --color-primary-500: #21a843;
    --color-primary-600: #168634;
    --color-primary-700: #136a2c;
    --color-primary-800: #145427;
    --color-primary-900: #114522;
    --color-primary-950: #062711;

    /* Brand Magenta #A82186 */
    --color-secondary-50: #fdf2f9;
    --color-secondary-100: #fce7f5;
    --color-secondary-200: #fad0ed;
    --color-secondary-300: #f6aadb;
    --color-secondary-400: #f076c3;
    --color-secondary-500: #e34aa8;
    --color-secondary-600: #a82186;
    --color-secondary-700: #9e1b78;
    --color-secondary-800: #831864;
    --color-secondary-900: #6d1855;
    --color-secondary-950: #430731;
}